<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Student</title>
</head>
<body>

<h2>Edit Student</h2>

<form th:action="@{'/update/' + ${student.id}}" th:object="${student}" method="post">

    Name:
    <input type="text" th:field="*{name}" /><br><br>

    Department:
    <input type="text" th:field="*{department}" /><br><br>

    Gender:
    <input type="text" th:field="*{gender}" /><br><br>

    Marks:
    <input type="number" th:field="*{marks}" /><br><br>

    <button type="submit">Update</button>
</form>

</body>
</html>